extends ../viewer/layout.pug

block globalScripts

block body
  body.dsc-main-container.dsc-main-container--styles(
  v-persist-scroll-pos="",
  class="dsc-main-container--styles-"+ type)
    .dsc-main-container__head= pageTitle
    .dsc-main-container__body
      if description
        .dsc-text-block= description
      | !{source}
