doctype
html.dsc-html-styles
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    title= pageTitle

    link(href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", rel="stylesheet")

    if app && app.cssFiles
      for href in app.cssFiles
        link(href=href, rel="stylesheet")
    if app && app.jsFiles
      for src in app.jsFiles
        script(src=src, type="text/javascript")

    if global && global.cssFiles
      for href in global.cssFiles
        link(href=href, rel="stylesheet")

  body.dsc-main-container.dsc-main-container--styles(class="dsc-main-container--styles-"+ type)
    .dsc-main-container__head= pageTitle
    .dsc-main-container__body
      if description
        .dsc-text-block= description
      | !{body}
