if properties && properties.fonts
  for font in properties.fonts
    .dsc-card
      .dsc-card__head #{font['font-family']} #{font['font-weight']}
      .dsc-card__body

        .dsc-fonts
          .dsc-fonts__head Characters
          .dsc-fonts__body.dsc-fonts__body--medium(class= font.viewerClassName)
            .dsc-fonts__chars
              for char in chars
                if (char.length == 1)
                  span.dsc-fonts__chars-item= char


        .dsc-fonts
          .dsc-fonts__head Large
          .dsc-fonts__body.dsc-fonts__body--large(
          class= font.viewerClassName)= dummyText.substr(0,120)

        .dsc-fonts
          .dsc-fonts__head Medium
          .dsc-fonts__body.dsc-fonts__body--medium(
          class= font.viewerClassName)= dummyText.substr(0,320)

        .dsc-fonts
          .dsc-fonts__head Small
          .dsc-fonts__body.dsc-fonts__body--small(
          class= font.viewerClassName)= dummyText.substr(0,600)

        .dsc-fonts
          .dsc-fonts__head Extra Small
          .dsc-fonts__body.dsc-fonts__body--xsmall(
          class= font.viewerClassName)= dummyText.substr(0,800)